<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonNav">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse">
        <a class="navbar-brand" th:href="@{/index}">TOY BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/blog}">博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">搜索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact}">联系</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>