<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="commonFooter">
    <footer class="page-footer">

        <!-- Footer Links -->
        <div class="text-center container">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4">
                    <h4><a th:href="@{/tag}">标签</a></h4>
                    <div class="footer-tags">
                        <!--                    <span><a href="#">SpringBoot</a></span>-->
                        <span th:each="item, iterStat : ${tagList}">
                        <a target="_blank" th:href="${'/tag/'+item.tagName}" th:text="${item.tagName}"></a>
                    </span>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="col-lg-4">
                    <h4>友情链接</h4>
                    <p>
                        <!--                    <span class="friend-link"><a href="#">GITHUB</a></span>-->
                        <span class="friend-link" th:each="item, iterStat : ${linkList}">
                        <a target="_blank" th:href="${item.linkUrl}" th:text="${item.linkName}" th:title="${item.remark}"></a>
                    </span>
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-lg-4">
                    <h4>关于网站</h4>
                    <p>Copyright @ 2019. <span th:text="${websiteConfig.domainName}"></span></p>
                    <p>All rights reserved</p>
                    <p>备案号：<span th:text="${websiteConfig.recordNumber}"></span></p>
                </div>

            </div>
        </div>
    </footer>
</div>
</html>