<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::commonHeader"></head>
<body>

<div th:include="common/common_navigation::commonNav"></div>

<div class="container ptb">
    <div class="row mtb">
        <div class="col-lg-4 centered" th:each="item, iterStat : ${articleList}">
            <a th:href="${'/article/'+item.articleId}">
                <div class="responsive-img-container">
                    <img th:src="${'/img/portfolio/port0'+item.imageNo+'.jpg'}" alt="Avatar" class="coveredImg">
                    <div class="overlay">
                        <img th:src="@{/img/zoom.png}" alt="Avatar" class="overlayIcon">
                    </div>
                </div>
            </a>

            <p th:text="${item.articleName}"></p>
        </div>
    </div>
</div>

<div th:include="common/common_foot::commonFooter"></div>

</body>
</html>